@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');


#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

